@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

header {
    position: absolute;
    top: 0;
}
.first {

    background-image:url('/static/dark.jpg');
    
    height: 100vh;
    width: 100%;
    background-size:cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;

}
.first h1 {
    margin: 0;
    font: size 100px;
    mix-blend-mode: overlay;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto',sans-serif;
    


}
body {

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
nav {
    height: 80px;
    position: absolute;
}
nav .container1 
{
    margin: 0 auto;
    max-width: 1100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px 0 50px;
    height: 100%;

}
nav .logo a
{
    font-size: 50px;
    color: rgb(247, 237, 237);
    text-decoration: none;
    font-weight: 700;

}
nav .menu ul
{
    display: flex;
}
nav .menu ul li a
{
    padding:50;
    list-style: none;
    margin: 0 15px;
    text-decoration: none;
    font-size: 20px;
    color: rgb(244, 230, 230);
    font-weight: 400;
    transition: all 400ms;
}
nav .menu ul li a:hover
{
    padding: 10px;
    background: rgb(236, 230, 230);
    color: rgb(236, 245, 245);
    outline: none;
    border-radius: 5px;
    font-weight: 500;
}
.second {

    background-image:url('/static/party.jpg');
    height: 100vh;
    width: 100%;
    background-size:cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;

} 
.cont
{
    width: 600px;
    height: 280px;

    position: absolute;
    transform: translateY(-50%);

    overflow: hidden;

}
#slider
{
    display: inline-flex;
    transition: 0.5s;

}
.msgcol
{
    width: 600px;
    height: 280px;
}
.msgcol h1
{
    color: white;
    font-size: 80px;
    font-weight: 100;
    margin: 10px 0;
}
.msgcol p
{
    color: white;
    font-size: 30px;
    line-height: 25px;


}
.conta
{
    width: 2px;
    height: 320px;
    display: block;
    background: white;
    position: absolute;
    right: 50px;
    transform: translateY(-50%);

}
#line1,#line2,#line3,#line4
{
    height: 80px;
    width: 10px;
    cursor: pointer;
    transform: translateX(-50%);
}
#active
{
    width: 5px;
    height: 80px;
    border-radius: 10px;
    background: white;
    position: absolute;
    top: 0;
    transform: translateX(-50%);
    transition: 0.5s;


}
.glry
{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:black;
}
.abu
{
display: flex;
align-items: center;
justify-content: center;
background: black;

}


.house {
position: relative;
overflow: hidden;
width: 70px;
height: 550px;
background-size: auto 105%;
background-position: center;
border-radius: 60px;
-webkit-box-shadow: 0px 0px 10px -1px rgb(20, 16, 16);
-moz-box-shadow: 0px 0px 10px -1px rgb(13, 13, 13);
box-shadow: 0px 0px 10px -1px rgb(11, 11, 11);

min-width: 100px;
transition: .5s ease;
margin: 15px;
background-size: cover;
background-repeat: no-repeat;
}

.sigil {
min-width: 100px;
text-align: center;
position: absolute;
bottom: 10px;
}

.sigil img {
/*filter: brightness(0) invert(1);*/
max-width: 80px;
max-height: 60px;
}

.house:hover {
min-width: 600px;
background-size: auto 100%;
border-radius: 10px;
}

.house-inner {
position: relative;
height: 100%;
display: flex;
align-items: flex-end;
}

.house::before {
content: '';
width: 100%;
height: 100%;
background: rgba(0, 0, 0, 0.5);
position: absolute;
transition: .5s ease;
}
.house:hover::before{
background: none;
}

.house-name {
color: #fff;
transform: rotate(-90deg);
font-size: 50px;
letter-spacing: 2px;
transition: .5s ease;
max-width: 100%;
margin-bottom: 120%;
}
.house:hover .house-name{
transform:rotate(0deg);
margin-bottom: 3%;
margin-left:20%
}
/*top_tracks (songs)*/
.top_tracks{
	margin-top: 0em;
	min-height: 220px;
	width: 100%;
	z-index: 10;
	display: flex;
	flex-direction: column;
    background-color: black;
}
.top_tracks #track{
	position: relative;
    width: 100%;
    display: flex;
	align-items: center;
    min-height: 50px;
    border-bottom: 1px solid rgba(255,255,255,0.06);
}
.top_tracks #track:not(:first-child){
   margin-top: 8px;
}
.top_tracks #track:hover{
	background: rgba(255,255,255,0.05);
}
.top_tracks #track img{
	height: 50px;
	width: 50px;
	object-fit: cover;
}
.top_tracks #track p{
	color: #fff;
}
#actions{
	padding: 0 5px;
	min-width: 5%;
	display: flex;
	align-items: center;
}
#actions i{
	cursor: pointer;
}
#actions p:not(:first-child){
	margin-left: 15px;
}
.top_tracks #actions a{
	text-decoration: none;
	display: inline-block;
	padding: 5px;
	color: #ccc;
	font-size: 2em;
}
.top_tracks #actions a:first-child{
	font-size: 1.5em;
	margin-left: 10px;
}
#actions i:hover{
	color: #E91E63;
}
/*song description part*/
#song_desc{
	position: relative;
	flex: 1;
	padding-left: 10px;
}
#song_desc #message{
	position: absolute;
	bottom: 5px;
	right: 2.5em;
	color: #EC407A;
}
#song_desc #total_download{
	position: absolute;
	bottom: 10px;
	right: 22%;
	color: #EC407A;
}
#song_desc p:nth-child(1){
	text-transform: capitalize;
}
#song_desc p:nth-child(2){
	opacity: 0.6;
	margin-top: 5px;
	font-size: 0.9em;
}

/*all id ~ heading*/
#heading{
	color: #fff;
	font-size: 1.8em;
	font-family: cursive;
}

/*actions_2 (share & download button)*/
#actions_2{
	min-width: 5%;
	padding: 3px;
	display: flex;
	justify-content: right;
}
#actions_2 a{
    color: #fff;
}
#actions_2 p{
	font-size: 1.2em;
}
#actions_2 p:first-child{
	margin-right: 12px;
}

/*top progress bar*/
.progress_bar {
  position: fixed;
  top: 0;
  left: 0;
  height: 4px;
  background: linear-gradient(to right, #cc33ff 0%, #ff0066 100%);
  width: 0%;
  z-index: 100;
}
/********** Template CSS **********/
:root {
    --primary: #5f0564;
    --secondary: #FF0F10;
    --light: #F2F2F2;
    --dark: #1D2833;
}


/*** Spinner ***/
#spinner {
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s ease-out, visibility 0s linear .5s;
    z-index: 99999;
}

#spinner.show {
    transition: opacity .5s ease-out, visibility 0s linear 0s;
    visibility: visible;
    opacity: 1;
}

.back-to-top {
    position: fixed;
    display: none;
    right: 45px;
    bottom: 45px;
    z-index: 99;
}


/*** Heading ***/
h1,
h2,
.fw-bold {
    font-weight: 700 !important;
}

h3,
h4,
.fw-semi-bold {
    font-weight: 600 !important;
}

h5,
h6,
.fw-medium {
    font-weight: 500 !important;
}


/*** Button ***/
.btn {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    transition: .5s;
}

.btn.btn-primary,
.btn.btn-secondary {
    color: #FFFFFF;
}

.btn-square {
    width: 38px;
    height: 38px;
}

.btn-sm-square {
    width: 32px;
    height: 32px;
}

.btn-lg-square {
    width: 48px;
    height: 48px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
    border-radius: 8px;
}


/*** Navbar ***/
.navbar-light .navbar-nav .nav-link {
    position: relative;
    margin-left: 25px;
    padding: 35px 0;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    color: #FFFFFF !important;
    text-transform: uppercase;
    font-weight: 500;
    outline: none;
    transition: .5s;
}

.sticky-top.navbar-light .navbar-nav .nav-link {
    padding: 20px 0;
    color: var(--dark) !important;
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link.active {
    color: var(--secondary) !important;
}

.navbar-light .navbar-brand h1 {
    color: #FFFFFF;
}

.navbar-light .navbar-brand img {
    max-height: 60px;
    transition: .5s;
}

.sticky-top.navbar-light .navbar-brand img {
    max-height: 45px;
}

@media (max-width: 991.98px) {
    .sticky-top.navbar-light {
        position: relative;
        background: #FFFFFF;
    }

    .navbar-light .navbar-collapse {
        margin-top: 15px;
        border-top: 1px solid #DDDDDD;
    }

    .navbar-light .navbar-nav .nav-link,
    .sticky-top.navbar-light .navbar-nav .nav-link {
        padding: 10px 0;
        margin-left: 0;
        color: var(--dark) !important;
    }

    .navbar-light .navbar-brand h1 {
        color: var(--primary);
    }

    .navbar-light .navbar-brand img {
        max-height: 45px;
    }
}

@media (min-width: 992px) {
    .navbar-light {
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
        z-index: 999;
    }
    
    .sticky-top.navbar-light {
        position: fixed;
        background: #FFFFFF;
    }

    .sticky-top.navbar-light .navbar-brand h1 {
        color: var(--primary);
    }
}


/*** Hero Header ***/
.hero-header {
    background:
        url(../img/bg-round.png),
        url(../img/bg-round-2.png),
        url(../img/bg-square.png),
        url(../img/bg-line.png),
        url(../img/bg-bottom-hero.png);
    background-position:
        0px 40%,
        right 0 top 0,
        left 50% top 0,
        left 50% top 50%,
        center bottom -1px;
    background-repeat: no-repeat;
}

.breadcrumb-item + .breadcrumb-item::before {
    color: rgba(255, 255, 255, .5);
}


/*** Section Title ***/
.section-title::before {
    position: absolute;
    content: "";
    width: 60px;
    height: 11px;
    bottom: 0;
    left: 0;
    border-top: 1px solid #5A5A5A;
    border-bottom: 1px solid #5A5A5A;
}

.section-title::after {
    position: absolute;
    content: "";
    width: 90px;
    height: 1px;
    bottom: 5px;
    left: 0;
    background: var(--primary);
}

.section-title.text-center::before {
    left: 50%;
    margin-left: -30px;
}

.section-title.text-center::after {
    width: 120px;
    left: 50%;
    margin-left: -60px;
}


/*** Domain Search ***/
.domain {
    background: url(../img/bg-domain.png) center center no-repeat;
    background-size: contain;
}


/*** Comparison ***/
@media (min-width: 992px) {
    .comparison::after {
        position: absolute;
        content: "";
        width: 1px;
        top: 56px;
        bottom: 20px;
        left: 50%;
        background: #DDDDDD;
    }
}


/*** Testimonial ***/
.testimonial-carousel .owl-item .testimonial-item,
.testimonial-carousel .owl-item.center .testimonial-item * {
    transition: .5s;
}

.testimonial-carousel .owl-item.center .testimonial-item {
    background: var(--primary) !important;
    border-color: var(--secondary) !important;
}

.testimonial-carousel .owl-item.center .testimonial-item .position-absolute {
    background: var(--secondary) !important;
}

.testimonial-carousel .owl-item.center .testimonial-item * {
    color: #FFFFFF;
}

.testimonial-carousel .owl-item.center .testimonial-item h6 {
    color: var(--dark) !important;
}

.testimonial-carousel .owl-dots {
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.testimonial-carousel .owl-dot {
    position: relative;
    display: inline-block;
    margin: 0 5px;
    width: 15px;
    height: 15px;
    background: #DDDDDD;
    border-radius: 15px;
    transition: .5s;
}

.testimonial-carousel .owl-dot.active {
    width: 30px;
    background: var(--primary);
}


/*** Team ***/
.team-item,
.team-item .bg-primary,
.team-item .bg-primary i {
    transition: .5s;
}

.team-item:hover {
    border-color: var(--secondary) !important;
}

.team-item:hover  {
    background: var(--secondary) !important;
}

.team-item:hover .bg-primary i {
    color: var(--secondary) !important;
}


/*** Footer ***/
.footer {
    background:
        url(../img/bg-round.png),
        url(../img/bg-round-2.png),
        url(../img/bg-square.png),
        url(../img/bg-line.png),
        url(../img/bg-bottom-footer.png);
    background-position:
        0px 112px,
        right 0 bottom 0,
        left 50% top 80px,
        left 50% bottom 0,
        top center;
    background-repeat: no-repeat;
}

.footer p {
    font-size: 15px;
}

.footer .btn.btn-social {
    margin-right: 5px;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--light);
    border: 1px solid #FFFFFF;
    border-radius: 35px;
    transition: .3s;
}

.footer .btn.btn-social:hover {
    color: var(--primary);
}

.footer .btn.btn-link {
    display: block;
    margin-bottom: 5px;
    padding: 0;
    text-align: left;
    color: #FFFFFF;
    font-size: 15px;
    font-weight: normal;
    transition: .3s;
}

.footer .btn.btn-link::before {
    position: relative;
    content: "\f105";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    margin-right: 10px;
}

.footer .btn.btn-link:hover {
    letter-spacing: 1px;
    box-shadow: none;
}

.footer .copyright {
    padding: 25px 0;
    font-size: 15px;
    border-top: 1px solid rgba(256, 256, 256, .3);
}

.footer .copyright a {
    color: var(--light);
}

.footer .footer-menu a {
    margin-right: 15px;
    padding-right: 15px;
    border-right: 1px solid rgba(255, 255, 255, .3);
}

.footer .footer-menu a:last-child {
    margin-right: 0;
    padding-right: 0;
    border-right: none;
}
    
















