<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='textstyle.css') }}">
        <body>
        <h1>WELCOME TO TUNEHUB</h1>
            <p><h4>Meet Song Bot, your new musical companion!<br>
                 With an extensive library<br>
                  of songs spanning multiple genres and eras,<br>Song Bot is ready to play<br>
                   the tunes you love.<br> 
                   Simply tell it what you're in the<br>mood for and it will play a<br>
                   song to match your mood and preferences.<br>
                   So sit back, relax, and let<br>Song Bot be the soundtrack to your day.
        </h4>
    <h5>CREATED BY ABOOBACKER,ABHAY,VAISHNAVRAJ<br>CONTACT:-mbot012@gmail.comS</h5></p><br>
        </body>
</html>